body {
  background-color: #254162;
  font-family: Lato;
  letter-spacing: 1.2px;
}
.base {
  margin: 90px auto;
  padding: 5px;
  border-radius: 20px;
  max-width: 600px;
  box-shadow: -30px 0 60px 0 rgba(3, 2, 6, 0.387),
    inset -30px 0px 20px rgba(247, 248, 250, 0.632);
}
.forecast {
  background-color: #d5e2e9;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: -10px 5 20px 15 rgba(3, 2, 6, 0.387);
}
.display {
  background-color: #254162;
  color: #d5e2e9;
  padding: 30px;
  border-radius: 20px 20px 0px 80px;
  box-shadow: 0 10px 10px rgba(65, 50, 100, 0.592);
}
header {
  margin-bottom: 40px;
}
.search-input {
  background-color: #d5e2e9;
  border: none;
  font-size: 16px;
  padding: 15px;
  width: 80%;
  border-radius: 20px;
}
.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #0926497e;
  color: #d5e2e9;
  border: none;
  padding: 16px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: #092649c5;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 15px;
  margin-bottom: 5px;
}
.current-condition {
  font-size: 45px;
  font-weight: 600;
  margin: 5px;
}
.current-temperature-value {
  font-size: 40px;
  margin: 5px;
  font-weight: 300;
}
.current-temperature-unit {
  font-size: 15px;
  position: relative;
  top: -17px;
}

.weather-app-icon {
  width: 160px;
}

.current-details {
  font-size: 15px;
  color: #babbe5da;
  font-weight: 400;
  position: relative;
  bottom: -20px;
}
.material-symbols-outlined {
  font-size: 17px;
  font-weight: 300;
  position: relative;
  bottom: -1.5px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}
footer {
  text-align: center;
  color: #25416298;
  font-size: 13px;
}
footer a {
  text-decoration: none;
  color: #39a047;
  font-weight: 900;
}
